@import "tailwindcss";
@import "./src/index.css";

@utility list-circle {
  list-style-type: circle;
}
@utility list-square {
  list-style-type: square;
}
@utility list-alpha {
  list-style-type: lower-alpha;
}
@utility list-roman {
  list-style-type: lower-roman;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme static {
  --color-primary: oklch(0.7568 0.1569 146);
  --color-primary-rgb: 102 202 113;
  --text-primary: white;

  --color-secondary: oklch(0.7568 0.1569 326);
  --color-secondary-rgb: 226 138 229;
  --text-secondary: white;

  --color-cta: oklch(0.7568 0.1569 56);
  --color-cta-rgb: 250 146 62;
  --text-cta: white;

  --color-bg-dark: oklch(0.9 0.025 146);
  --color-bg: oklch(0.95 0.025 146);
  --color-bg-light: oklch(1 0.025 146);

  --color-black-rgb: 0 0 0;
  --color-white-rgb: 255 255 255;
}
