/* Reference: https://uiverse.io/Galahhad/sweet-ape-100 */
@reference "./shadow.css";

input[type="checkbox"][variant~="primary"] {
  --tick-color: var(--text-primary);
  --primary-color: var(--color-primary);
  --primary-color-rgb: var(--color-primary-rgb);
}

input[type="checkbox"][variant~="secondary"] {
  --tick-color: var(--text-secondary);
  --primary-color: var(--color-secondary);
  --primary-color-rgb: var(--color-secondary-rgb);
}

input[type="checkbox"][variant~="cta"] {
  --tick-color: var(--text-cta);
  --primary-color: var(--color-cta);
  --primary-color-rgb: var(--color-cta-rgb);
}

input[type="checkbox"] {
  --checkbox-diameter: --spacing(5);
  width: var(--checkbox-diameter);
  height: var(--checkbox-diameter);
  @apply depth-3 relative cursor-pointer appearance-none rounded transition-all duration-300;
}

label:has(> input[type="checkbox"]) {
  @apply flex cursor-pointer items-center gap-2;
}

input[type="checkbox"]:disabled,
label:has(> input[type="checkbox"]:disabled) {
  @apply cursor-not-allowed opacity-50;
}

input[type="checkbox"]::after {
  @apply absolute inset-0 rounded-[inherit] opacity-0 transition-all duration-500 ease-[cubic-bezier(0.12,0.4,0.29,1.46)] content-[''];
  box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 1.75) var(--primary-color);
}

input[type="checkbox"]::before {
  border-color: var(--tick-color);
  @apply absolute start-[50%] top-[40%] h-[7px] w-[4px] border-r-2 border-b-2 opacity-0 content-[''];
  transform: translate(-50%, -50%) rotate(45deg) scale(0);
  transition:
    all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),
    opacity 0.1s;
}

input[type="checkbox"]:not(:disabled):hover {
  --shadow-accent-rgb: var(--color-black-rgb);
}

input[type="checkbox"]:not(:disabled):active {
  --shadow-color-rgb: var(--primary-color-rgb);
}

input[type="checkbox"]:checked {
  @apply bg-(--primary-color);
}

input[type="checkbox"]:checked::before {
  @apply opacity-100;
  transform: translate(-50%, -50%) rotate(45deg) scale(2);
}

input[type="checkbox"]:active:not(:checked)::after {
  @apply opacity-100 shadow-none transition-none;
}
