@reference "./shadow.css";

input[type="number"] {
  @apply depth-3 cursor-pointer appearance-none rounded px-1 py-0.5 transition-all duration-300;
}

input[type="number"]:focus-visible {
  @apply outline-0;
}

label:has(> input[type="number"]) {
  @apply flex cursor-pointer items-center gap-2;
}

input[type="number"]:disabled,
label:has(> input[type="number"]:disabled) {
  @apply cursor-not-allowed opacity-50;
}

input[type="number"]:not(:disabled):is(:hover, :focus-visible) {
  --shadow-accent-rgb: var(--color-black-rgb);
}

input[type="number"]:not(:disabled):active {
  --shadow-color-rgb: var(--variant-color-rgb);
}
