@layer components {
  [variant~="primary"] {
    --variant-text-color: var(--text-primary);
    --variant-color: var(--color-primary);
    --variant-color-rgb: var(--color-primary-rgb);
  }

  [variant~="secondary"] {
    --variant-text-color: var(--text-secondary);
    --variant-color: var(--color-secondary);
    --variant-color-rgb: var(--color-secondary-rgb);
  }

  [variant~="cta"] {
    --variant-text-color: var(--text-cta);
    --variant-color: var(--color-cta);
    --variant-color-rgb: var(--color-cta-rgb);
  }
}
